<!-- este es el sidenav left (barra de la izquierda) abierto por defecto -->
<div layout="row" flex>

   <div layout="column" flex>
       <simple-toolbar></simple-toolbar>

         <div layout="column" flex>
               <div layout="row" layout-margin layout-padding flex layout-align="center start">
                   <div flex-sm="90" flex="60" class="md-padding" layout="row" layout-wrap layout-align="center center">

                       <md-card ng-repeat="clase in clases" flex="80" class="hover-card" style="background-image: url('images/textures/symphony.png')">
                           <a class="text-center text-muted" flex  ng-click="close()"  ng-href="#/Docente/{{clase.id_clase}}/Contenido">
                               <div layout-padding>
                                   <h3 class="md-title" style="margin-top: 10px;">{{clase.materia}}</h3>
                                   <strong class="md-subhead">{{clase.nombre_curso}}{{clase.indice}}</strong>
                               </div>
                               <div layout="row" layout-align="center center" class="text-center" style="background: #eee;padding:1%">
                                   <div flex> 23% <br><small>Progreso</small></div>
                                   <div flex> 3%  <br><small>Inasistencias</small></div>
                                   <div flex> 4,3 <br><small>Promedio de notas</small></div>
                               </div>
                           </a>
                       </md-card>
                       
                   </div>
               </div>
       </div>
   </div>
</div>
