<div class="" ng-class="{barraPropiedades: sw}">
	
	<a class="btn btn-default" id="boton-barra" ng-click="sw = sw ? false : true">
		{{datos.nombrePrincipal}} <i class="fa fa-chevron-right"></i>
	</a>

	<div class="" ng-show="sw" ng-class="{bpenvoltura: !sw}">
		<ul class="list-unstyled" ng-repeat="enlace in datos.enlaces">

			<a class="" href="{{enlace.link}}">
				<li ng-class="{active: compararURL(enlace.link)}"><i style="padding-right: 8px" class="fa fa-lg {{enlace.icon}}"></i> {{enlace.nombre}}</li>
			</a>

		</ul>
	</div>
</div>
