<div class="barra-propiedades">
	<button class="btn btn-lg btn-inverse btn-block hidden-lg" id="boton-barra">
		<i class="fa fa-arrow-down fa-lg text-muted"></i>
	</button>

	<div class="bp-envoltura">
		<ul class="list-unstyled">
			<a class="hidden" href="#">
				<li  class=""><i style="padding-right: 8px" class="fa fa-building fa-lg"></i> Agregar Institución</li>
			</a>
			<a class="" href="#">
				<li class=""><i style="padding-right: 8px" class="fa fa-list-alt fa-lg"></i> Formularios</li>
			</a>
			<a class="" href="#">

				<li class=""><i style="padding-right: 8px" class="fa fa-user fa-lg"></i> Estudiantes</li>
			</a>
			<a href="#">
				<li class="{{'active'}}"><i style="padding-right: 8px" class="fa fa-group fa-lg"></i> Docentes</li>
			</a>
			<a href="#">
				<li  class=""><i style="padding-right: 8px" class="fa fa-bar-chart-o fa-lg"></i> Estadisticas</li>
			</a>
			<a class="hidden" href="#">
				<li class=""><i style="padding-right: 8px" class="fa fa-folder-open fa-lg"></i> Propiedad</li>
			</a>
		</ul>
	</div>
</div>
