<!-- Modal para Evaluciones-->
<div class="modal fade" id="modalAddEvaluaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
            Agregar nueva Evaluación correspondiente al logro:
        </h4>
        <h5 class="well">{{texto.contenido}}
        </h5>
        <p class="text-center">se registran las siguientes evaluaciones para este logro:
        </p>
        <!-- tabla para mostrar todas las evaluaciones ya regristradas-->
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Descripción</th><th>Tipo</th><th>Peso</th>    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="examen in Evaluaciones | filter:{id_indicador:texto.id_indicador}">
                    <td>{{examen.concepto}}</td>
                    <td>{{examen.tipo_evaluacion}}</td>
                    <td>{{examen.ponderacion}}</td>
                </tr>
                <tr><td></td><td><strong>total</strong></td><td>{{total}}</td></tr>
            </tbody>
        </table>
        <!-- tabla para mostrar todas las evaluaciones ya regristradas-->
    </div>
    <div class="modal-body">
        <form action="">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for=""> Tipo de Evaluación</label>
                    <input type="text" class="form-control" ng-model="nExamen.tipo_evaluacion">
                </div>
                <div class="form-group col-md-6">
                    <label for="">Valor Porcentual</label>
                    <input type="number" class="form-control" ng-model="nExamen.ponderacion" min="0" max="1000">
                </div>
            </div>

            <div class="form-group">
                <label for=""> Detalle</label>
                <textarea class="form-control" name="" id="" cols="30" rows="4" ng-model="nExamen.concepto"></textarea>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>
</div>
</div>