	<nav class="navbar navbar-default  navbar-fixed-top" role="navigation" style="background-color: #FcFcFc;">

		<div class="container-fluid">

			<div class="navbar-header" style="margin-left: 75px">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse-{{config.id}}" >
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars fa-lg"></span>
				</button>

				<a class="navbar-brand" ng-href="{{'#'}}" style="color:#144c87; font-size:2em">					
					<img class="site-logo" ng-src="{{datos.logo}}">	
					{{datos.nombrePrincipal}}
				</a>
			</div>    
		
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse-{{config.id}}">
				
				<ul class="nav navbar-nav" ng-repeat="enlace in datos.enlaces">
					<li ng-class="{active: compararURL(enlace.link)}"><a ng-href="{{enlace.link}}">{{enlace.nombre}}</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right visible-lg">
				  <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href><i class="fa fa-cog fa-lg"> </i> 
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a ng-href="{{datos.collapse[0]['link']}}"><i class="fa fa-wrench"></i> {{datos.collapse[0]['nombre']}}</a></li>
						<li class="divider"></li>
						<li><a ng-href="{{datos.collapse[1]['link']}}"><i class="fa fa-off"></i> {{datos.collapse[1]['nombre']}}</a></li>
					</ul>
				  </li>
				</ul>

				<ul class="nav navbar-nav navbar-left hidden-lg">
				  <li><a ng-href="{{datos.collapse[0]['link']}}"><i class="fa fa-wrench"></i> {{datos.collapse[0]['nombre']}}</a></li>
				  <li><a ng-href="{{datos.collapse[1]['link']}}"><i class="fa fa-off"></i> {{datos.collapse[1]['nombre']}}</a></li>
				</ul>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		
	</nav>