<a  flex-gt-sm="30" hide-sm class="navbar-brand" href="#/Docente" style="color:#144c87; font-size:1.6em; margin-left: 50px;margin-right: 80px;">
    <img class="site-logo" ng-src="images/flugels.png">Flügel
</a>
<ul layout-align="center center" class="nav nav-clear nav-pills-only">
  	<li ng-click="toggleSidenav('left')" flex="10"  hide-gt-sm>
        <a href=""><i class="fa fa-bars fa-lg"></i></a>
    </li>
  	<li  role="presentation" class="" ng-repeat="tab in navTab" data-toggle="tab" ui-sref-active="active">
    	<a ui-sref="{{tab.state}}">
      		<i class="{{tab.icon}}"></i> <span class="hidden-xs">{{tab.Nombre}}</span>
    	</a>
  	</li>
</ul>
