<!doctype html>
<html class="no-js" style="font-size: 1em;">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" property="og:description" content="Sistema de gestión basado en la excelencia, permite caracterizar totalmente a las Instituciones, de acuerdo a los indicadores académicos de interés, la verificación en tiempo real de estos y apoya el proceso de formación de los estudiantes." />
	<meta name="keywords" content="flügel, flugel, iflugel, iflügel, iflugel, educación, volemos juntos, gestión, Cluster, music videos" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="bower_components/chartist/libdist/chartist.min.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/lasd.css">
	<!-- endbuild -->
</head>
<body ng-app="appApp" style="">
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->
			<ls-header ng-controller="header1"></ls-header>

			<ls-menu ng-controller="menu1"></ls-menu>
			<!-- Add your site or application content here -->
			<div class="container">


				<!-- <div ng-view=""></directives> -->
				<div ui-view></div>

				<div class="footer">
					<div class="container" ng-controller="table1">

						<input type="number" name="fname" ng-model="limite">
						<input type="text" name="fname" ng-model="search" placeholder="Busqueda">
						<ls-table class=""></ls-table>

						<div class="container">
							<div class="panel panel-default">
								<div class="panel-body">
									<ls-chartbar type="primeroo" ng-controller="bar1"></ls-chartbar>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="ct-chart" id="jo"></div>

			<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
			<script>
			 // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			 // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			 // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			 // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			 // ga('create', 'UA-XXXXX-X');
			 // ga('send', 'pageview');
			 </script>

			 <!-- build:js(.) scripts/oldieshim.js -->
		<!--[if lt IE 9]>
		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/json3/lib/json3.js"></script>
		<![endif]-->
		<!-- endbuild -->

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/chartist/libdist/chartist.min.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/vendor/highcharts.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/routes/admin/statistic.js"></script>
		<script src="scripts/services/services.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/controllers/about.js"></script>
		<script src="scripts/controllers/estadisticaCtrl.js"></script>
		<script src="scripts/directives/navbar.js"></script>
		<script src="scripts/directives/menu.js"></script>
		<script src="scripts/directives/tabRoute.js"></script>
		<script src="scripts/directives/table.js"></script>
		<script src="scripts/directives/charts/bar.js"></script>

		<!-- endbuild -->
</body>
</html>
