<div class="" id="Inasistencias">
	<div id="containerInasistencias" style="min-width: 50%; height: 400px; margin: 0 auto"></div>

	<div class="alert alert-info fontSize1" style="padding: 10px;">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>¡Ayuda!:</strong> Mide las Inasistencias por:
	</div>

	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<button type="button" class="btn btn-default col-xs-6">Colegios</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default col-xs-6">Grados</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default col-xs-6">Materia</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default col-xs-6">Area</button>
		</div>
	</div>
</div>
<script>
	$(function () {
	$('#containerInasistencias').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: 'Porcentaje Ausentismo Grado 8'
		},
		subtitle: {
			text: ''
		},
		xAxis: {
			categories: [
			'Ene',
			'Feb',
			'Mar',
			'Abr',
			'May',
			'Jun',
			'Jul',
			'Ago'
			]
		},
		yAxis: {
			min: 0,
			title: {
				text: '% de Inasistencias'
			},
			max:100
		},
		tooltip: {
			headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			pointFormat: '<tr><td style="color:{series.color} %;padding:0">{series.name}: </td>' +
			'<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
			footerFormat: '</table>',
			shared: true,
			useHTML: true
		},
		plotOptions: {
			column: {
				pointPadding: 0.2,
				borderWidth: 0
			}
		},
		series: [{
			name: '8A',
			data: [91.24, 89.56, 84.67, 75.7, 74.4, 78.49, 88.50, 93.48]
		},{
			name: '8B',
			data: [83.6, 78.8, 98.5, 93.4, 96.0, 84.5, 95.0, 94.3]
		},{
			name: '8C',
			data: [78.9, 68.8, 69.3, 71.4, 87.0, 88.3, 89.0, 79.6]

		}]
	});
});
</script>