<!-- Modal para Editar las Evaluciones-->
<div class="modal fade" id="modalEditEvaluacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
            Editar la Evaluacion:
        </h4>
       <p class="well"><strong>Concepto: </strong> {{nExamen.concepto}} &nbsp &nbsp <strong>tipo: </strong>{{nExamen.tipo_evaluacion}} &nbsp &nbsp <strong> valor: </strong> {{nExamen.ponderacion}}</p>
       
    <div class="modal-body">
        <form action="">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for=""> Tipo de Evaluación</label>
                    <input type="text" class="form-control" ng-model="nExamen.tipo_evaluacion">
                </div>
                <div class="form-group col-md-6">
                    <label for="">Valor Porcentual</label>
                    <input type="number" class="form-control" ng-model="nExamen.ponderacion" min="0" max="1000">
                </div>
            </div>

            <div class="form-group">
                <label for=""> Detalle</label>
                <textarea class="form-control" name="" id="" cols="30" rows="4" ng-model="nExamen.concepto"></textarea>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>
</div>
</div>