<!-- Modal para Crear Un nuevo Logro-->
<div class="modal fade" id="modalNewLogro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
            Nuevo Logro
        </h4>
     </div>
       
    <div class="modal-body">
        <form action="">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="">Periodo</label>
                    <select class="form-control" name="" id="" ng-model="Logro.periodo">
                    	<option value="1">Primero</option>
                    	<option value="2">Segundo</option>
                    	<option value="3">Tercero</option>
                    	<option value="4">Cuarto</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="">Finaliza</label>
                    <input type="date" class="form-control" ng-model="Logro.fecha_vencimiento" min="0" max="1000">
                </div>
                <div class="form-group col-md-4">
                    <label for="">algo</label>
                    <input type="text" class="form-control" ng-model="Logro.algo" min="0" max="1000">
                </div>
            </div>

            <div class="form-group">
                <label for=""> Detalle</label>
                <textarea class="form-control" name="" id="" cols="30" rows="4" ng-model="Logro.contenido"></textarea>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>
</div>
</div>