<!-- tamaño grande de pantalla muestra de logros  -->
<div class="container-fluid logro">

  <div class="row well-margin well-sm logro hidden-xs">
    <div class=" col-md-11 logro" style="cursor:pointer;" data-toggle="collapse" data-target="#{{x.id_indicador}}" aria-expanded="false">
      <p aling="justify" >

        {{x.contenido}}&nbsp&nbsp&nbsp
        -<strong>{{x.fecha_vencimiento |date:format:timezone}}</strong>-
      </p>
    </div>

    <div class="col-md-1 logro">
        <span >
            <span  title="Editar Logro" data-toggle="tooltip" data-placement="top" data-togle="modal" data-target="#modalEliminar">
               <i class="fa fa-edit fa-lg" style="color:#00D63F;"></i>
            </span>&nbsp
            <span title="Eliminar Logro" data-toggle="tooltip">
                <i class="fa fa-close fa-lg" style="color:#E60013;"></i>
            </span>
        </span>
    </div>
</div>


<!-- tamaño grande de pantalla muestra de logros  -->

<!-- tamaño de pantalla extra small un responsive bueno -->
<div class="visible-xs-block">
    <div class="row list-group smtable" style="cursor:pointer;">
        <div class="col-md-2 list-group-item" style="background-color: #f5f5f5" data-toggle="collapse" data-target="#{{x.id_indicador}}" aria-expanded="false">
           {{x.contenido}}
        </div>
        <div class="col-md-2 list-group-item" >
            -<strong>{{x.fecha_vencimiento |date:format:timezone}}</strong>-
            <span class="pull-right CRUD">
                <i class="fa fa-edit fa-lg" style="color:#00D63F;"></i>&nbsp&nbsp<i class="fa fa-close fa-lg" style="color:#E60013;"></i>
            </span>
        </div>
    </div>
</div>
<!-- tamaño de pantalla extra small un responsive bueno -->
