
<div class="modal fade" id="modalAddNotas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times fa-lg"></i></span></button>
        <h4 class="modal-title text-center" id="myModalLabel" style="margin-bottom:5px;">Agregar Nota correspondiente a la Evaluación:</h4>
        <p class="well"><strong>Concepto: </strong> {{calificar.concepto}} &nbsp &nbsp <strong>tipo: </strong>{{calificar.tipo_evaluacion}} &nbsp &nbsp <strong> valor: </strong> {{calificar.ponderacion}}</p>

      </div>
      <div class="modal-body">
      <tabla-estudiantesaddnotas></tabla-estudiantesaddnotas>
      </div>
    </div>
  </div>
</div>
