<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <!--  aqui comienza el repeater para los cada periodo en el scope periodos -->
 <div class="panel panel-default" ng-repeat="periodo in Periodos">

   <div class="panel-heading" role="tab" id="headingOne" >
        <h4 class="panel-title">
           <span class="titulo" data-toggle="collapse" data-target="#{{periodo.targetid}}" aria-expanded="{{periodo.expanded}}" aria-controls="{{periodo.targetid}}" data-parent="#accordion">
            {{periodo.periodo}}
           </span>
           <span class="pull-right">
            <i class="fa fa-plus-square fa-lg" ng-click="toggleSidenav('right')"></i>        
           </span>
        </h4>
    </div>

    <div id="{{periodo.targetid}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <!-- aqui se filtra cada logro de acuerdo con su periodo que es una propiedad del scope Logros y periodo.id que es una propidad del escope Periodos -->
          <p aling="justify" class="well well-sm"ng-repeat="x in Logros | filter:{periodo:periodo.id}">
            <span>{{x.contenido}}&nbsp&nbsp&nbsp-<strong>{{x.fecha_vencimiento |date:format:timezone}}</strong>-</span>
            <span class="pull-right CRUD">
             <i class="fa fa-edit fa-lg" style="color:#00D63F;"></i>&nbsp&nbsp<i class="fa fa-close fa-lg" style="color:#E60013;"></i>
            </span>
          </p>
        </div>
    </div>
 </div>
</div>

