<div class="container" style="">
	<div class="row">
		<div class="col-md-10 col-md-offset-2" style="margin-top: 2%;">
			
			<div class="" style="border-radius: 5px">

				<div class="row">
					<div class="col-md-4 col-sm-4">
						<form class="">
							<div class="input-group input-group-lg">
								<input type="search" class="form-control" placeholder="Buscar colegios">
								<span class="btn disabled input-group-addon"><i class="fa fa-search"></i></span>
							</div>
						</form>
					</div>
					<div class="col-md-4 col-sm-4">
						<form class="">
							<div class="form-group input-group-lg">
								<select name="tipo_identificacion" required id="" class="form-control" >
									<option value="Esta semana">Esta semana</option>
									<option value="La semana Pasada">La semana Pasada</option>
									<option value="Este mes">Este mes</option>
									<option value="El mes pasado">El mes pasado</option>
									<option value="Este trimestre">Este trimestre</option>
									<option value="Trimestre pasado">Trimestre pasado</option>
									<option value="Este año">Este año</option>
									<option value="El año pasado">El año pasado</option>
									<option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
								</select>
							</div>
						</form>
					</div>

					<div class="col-md-4 col-sm-4 hidden-xs" style="font-size: 0.15em;">
						<div class="input-daterange input-group input-group-lg" id="datepicker">
							<input type="text" class="input-sm form-control" name="start" />
							<span class="input-group-addon">-</span>
							<input type="text" class="input-sm form-control" name="end" />
						</div>
					</div>
				</div>

				<div class="row bloquePegadoDown" style="border-radius: 4px; margin-bottom: 12px;">
					<div class="col-md-3 col-xs-3 bloque-left">
						<div class="targeta-fecha">
							<div>Promedio</div>
							<div class="fontSize5">3.7</div>
							<small class="text-danger">10% <span class="glyphicon glyphicon-arrow-down"></span></small>
						</div>
					</div>
					<div class="col-md-3 col-xs-3 bloque-left">
						<div class="targeta-fecha">
							<div>lorem</div>
							<div class="fontSize5">1400</div>
							<small class="text-danger">10% <span class="glyphicon glyphicon-arrow-down"></span></small>
						</div>
					</div>
					<div class="col-md-3 col-xs-3 bloque-left">
						<div class="targeta-fecha">
							<div>lorem</div>
							<div class="fontSize5">1400</div>
							<small class="text-success">10% <span class="glyphicon glyphicon-arrow-up"></span></small>
						</div>
					</div>
					<div class="col-md-3 col-xs-3 bloque-left">
						<div class="targeta-fecha">
							<div>lorem</div>
							<div class="fontSize5">1400</div>
							<small class="text-danger">10% <span class="glyphicon glyphicon-arrow-down"></span></small>
						</div>
					</div>
				</div>

				<div class="row bloquePegadoDown" ng-controller="notasCtrl" style="border-radius: 6px">
					<!-- /scripts/directives/tabroute -->
					<ls-tabroute ng-controller="tabroute" info="estadistica"></ls-tabroute>
				</div>
			</div>
		</div>
	</div>
</div>