<div layout="row">

	<div flex>
		<div layout="row" layout-wrap>
			<div flex-gt-sm="25" flex-sm="100">
				<div layout="row" layout-margin layout-align="center center">
				<img class="media-object img-circle md-whiteframe-z1" ng-src="/images/yeoman.png" alt="..." style="height:120px;width:120px">
				</div>
			</div>
			<div flex-gt-sm="75" flex-sm="100">
				<md-card>
					<md-toolbar style="background: #FcFcFc; color: #333">
					    <div class="md-toolbar-tools">
					      <h2 class="md-flex">Información personal</h2>
					    </div>
				    </md-toolbar>
					<md-list>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text" >
								<h3 class="text-capitalize">{{estudiante.nombre}} {{estudiante.apellido}}</h3>
								<p>Nombre</p> 
							</div>							
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text" >
								<h3><a href="mailto:{{estudiante.email}}" target="_top">{{estudiante.email}}</a></h3>
								<p>Correo Electrónico</p> 
							</div>							
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text" >
								<h3>{{estudiante.Direccion}} {{estudiante.Barrio}}</h3>
								<p>Direccion</p> 
							</div>							
						</md-list-item>
						<md-divider ></md-divider>

						<md-list-item class="md-2-line">
							<div class="md-list-item-text" >
								<h3>{{estudiante.fecha_nacimiento | date:format:timezone}}</h3>
								<p>Nacimiento</p> 
							</div>							
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text" >
								<h3>{{estudiante.id_estudiante}}</h3>
								<p>{{estudiante.tipo_identificacion}}</p> 
							</div>							
						</md-list-item>
						<md-list-item class="md-2-line">
							<div class="md-list-item-text" >
								<h3>{{estudiante.tipo_sangre}}</h3>
								<p>Grupo sanguineo</p> 
							</div>							
						</md-list-item>
						<md-divider ></md-divider>

						<md-list-item class="md-2-line">
							<div class="md-list-item-text" >
								<h3>{{estudiante.Acudiente}} {{estudiante.TelAcudiente}}</h3>
								<p>Acudiente</p> 
							</div>							
						</md-list-item>
					</md-list>
				</md-card>
		
			</div>
		</div>
<!-- vista grande, mediano y pequeño -->

<!-- solucion extra small-->
		<!-- <div ui-view class="visible-xs-block"></div> -->
	</div>
</div>




