<div layout="row" flex>
    <div layout="column" flex>
        <simple-toolbar></simple-toolbar>

        <div layout="column" flex>
        <div layout="row" flex="80" >
            <div  layout="column" flex>
                <!-- <div flex layout="row" layout-align="center center" layout-margin>
                    <md-card >
                        <input flex-sm="100" flex="60" class="text-center btn input-lg cls-input" placeholder="Busqueda de cursos, docentes, alumnos" ng-model="user.title">
                    </md-card>
                </div>
                <div flex>
                    <md-card  class="hover-card" style="background-image: url('images/textures/symphony.png')">
                        <a class="text-center text-muted" flex  ng-click="close()"  href="">
                            <div layout-padding>
                                <h3 class="md-title" style="margin-top: 10px;">{{'clase.materia'}}</h3>
                                <strong class="md-subhead">{{'clase.nombre_curso'}} {{'clase.indice'}}</strong>
                            </div>
                            <div layout="row" layout-align="center center" class="text-center" style="background: #eee;padding:1%">
                                <div flex> 23% <br><small>Progreso</small></div>
                                <div flex> 3%  <br><small>Inasistencias</small></div>
                                <div flex> 4,3 <br><small>Promedio de notas</small></div>
                            </div>
                        </a>
                    </md-card>
                </div>
                <div flex>
                    <md-card  class="hover-card" style="background-image: url('images/textures/symphony.png')">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quod quia minus sapiente nobis sed molestiae, sit molestias, perferendis ipsa, labore modi fugit! Rerum recusandae libero labore, nisi dolore nesciunt.
                    </md-card>
                </div> -->
                <div>lorem5</div>
                <div>lorem5</div>
                <div>lorem5</div>
            </div>
        </div>
        </div>
    </div>
</div>
