<div layout="row" flex>
    <div layout="column" flex>
        <simple-toolbar></simple-toolbar>

        <div layout="column" flex>
            <div layout="row" layout-margin flex layout-align="center start">
                <div  layout="column" flex="90" flex-sm="100" flex-gt-md="80" layout-margin>
                    <div flex layout="row" layout-align="center center" layout-margin>
                        <md-card flex-sm="100" flex="80">
                            <input  class="btn input-lg cls-input" placeholder="Busqueda de cursos, docentes, alumnos" ng-model="user.title">
                        </md-card>
                    </div>

                    <md-card layout="row" layout-align="center center" class="text-center" style="padding:1%">
                        <div flex> 23% <br><small>Progreso</small></div>
                        <div flex> 3%  <br><small>Inasistencias</small></div>
                        <div flex> 4,3 <br><small>Promedio de notas</small></div>
                    </md-card>

                    <div flex layout="row" ng-repeat="curso in cursos">
                        <div flex class="hover-card md-whiteframe-z1" style="background-image: url('images/textures/symphony.png')">
                            <a class="text-center text-muted" flex  ng-click="close()"  href="">
                                <div layout-padding>
                                    <h2 class="md-headline" style="margin-top: 10px;">
                                        {{curso.nombre_curso}} <span ng-show="curso.indice">-</span> {{curso.indice}}
                                    </h2>
                                    <strong class="md-subhead"><span ng-show="curso.id_profesor">Docente tutor:</span>{{curso.id_profesor}}</strong>
                                </div>
                                <div layout="row" layout-align="center center" class="text-center" style="background: #eee;padding:1%">
                                    <div flex> 23% <br><small>Progreso</small></div>
                                    <div flex> 3%  <br><small>Inasistencias</small></div>
                                    <div flex> 4,3 <br><small>Promedio de notas</small></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
