<div class="panel-group" id="" role="tablist" aria-multiselectable="true">
      <!--  aqui comienza el repeater para los cada periodo en el scope periodos -->
    <div class="panel panel-default" ng-repeat="periodo in Periodos">

        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-target="#{{periodo.targetid}}" aria-expanded="{{periodo.expanded}}" aria-controls="{{periodo.targetid}}" data-parent="#accordion"style="cursor: pointer;" >
            <h4 class="panel-title">
               <span class="titulo">
                  {{periodo.periodo}}
              </span>
            </h4>
        </div>

        <div id="{{periodo.targetid}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <!-- aqui se filtra cada logro de acuerdo con su periodo que es una propiedad del scope Logros y periodo.id que es una propidad del escope Periodos -->
                <div ng-repeat="x in Logros | filter:{periodo:periodo.id}" style="padding: 1px 0;">
                <md-card>
                    <well-logros></well-logros>

                    <div class="collapse" id="{{x.id_indicador}}">
                        <div layout-padding>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddEvaluaciones" ng-click="showLogro(x)">
                                <span class="visible-lg visible-md visible-sm">Agregar Evaluacion</span>
                                <span class="visible-xs">+ Evaluacion</span>
                            </button>
                        </div>
                        <div layout-padding>
                            <tabla-evaluaciones></tabla-evaluaciones>
                        </div>
                        
                    </div>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
    <span data-toggle="modal" data-target="#modalNewLogro">
    <md-button class="pluss md-primary md-fab" title="Nuevo Logro" data-toggle="tooltip" data-placement="top" aria-label="Nuevo Logro">
        <i class="fa fa-plus fa-lg" ></i>
    </md-button></span>
</div>
<!-- Modales de Contenido-->
<modal-new-logro></modal-new-logro>
<modal-add-evaluaciones></modal-add-evaluaciones>
<modal-add-notas></modal-add-notas>
<modal-eliminar></modal-eliminar>
<modal-edit-evaluacion></modal-edit-evaluacion>
