<div layout="column" flex ng-controller="EstudiantesCtrl" layout-fill>
    <div class="row">
        <md-input-container class="col-md-7">
            <label>buscar</label>
            <input ng-model="search">           
        </md-input-container>

        <md-switch class="col-md-3" ng-model="asist" ng-click="asisToast()" aria-label="Asistencia" ng-true-value="false" ng-false-value="true">
            <div>Asistencia</div> 
            <md-tooltip hide-sm>Activar Asistencia</md-tooltip>
        </md-switch>
    </div>
   <!-- lista de estudiantes-->
    <div layout="row">
        <md-list flex="100">
            <md-list-item class="md-whiteframe-z1 md-2-line itemList" ng-repeat="estudiante in estudiantes| filter:search | orderBy:'nombre'">
                <img ng-src="{{estudiante.face}}" class="md-avatar" alt="{{estudiante.nombre}}" />
                <div ng-click="infoRight(estudiante)" class="md-list-item-text">
                    <h3>{{estudiante.nombre}} {{estudiante.apellido}}</h3>
                    <h4>Curso - {{estudiante.curso}}</h4>
                </div>
                <!-- Grupo de botones para gestionar la toma de asistencias -->
                <div  class="btn-group md-secondary listbtn" >
                    <label ng-disabled="asist" class="btn btn-default btn-green btn-sm" ng-class="{active: estudiante.asistencia == 'si'}">
                        <input class="radio"  type="radio" ng-model="estudiante.asistencia"  value="si" >
                        <i class="fa fa-check fa-lg"></i>
                    </label>

                    <label ng-disabled="asist" class="btn btn-default btn-red btn-sm" ng-class="{active: estudiante.asistencia == 'no'}">
                        <input class="radio" type="radio" ng-model="estudiante.asistencia" value="no" >
                        <i class="fa fa-times fa-lg"></i>
                    </label>
                </div> 
            </md-list-item>
        </md-list>

        <!-- Boton para envío de asistencia al servidor  -->

        <md-button ng-show="!asist" flex class=" pluss md-fab md-primary" md-theme="" aria-label="Profile" ng-click="save($event)">
        <md-tooltip hide-sm>Enviar asistencia</md-tooltip>
            <i class="fa fa-paper-plane fa-lg"></i>
        </md-button>
        
        <!-- menu derecho se desplegable  para +info -->

        <md-sidenav  layout-fill class="md-sidenav-right " md-component-id="info" >
            <md-toolbar >
                <div layout="row" layout-align="start center">
                    <div flex="25" class="md-tile-left">
                        <img style = "background: white;" ng-src="{{name.face}}" class="face" alt="{{estudiante.nombre}}">
                    </div>
                    <h1 flex="80" style="color: white;" class="md-toolbar-tools">{{name.nombre}} {{name.apellido}}</h1>
                </div>
            </md-toolbar>

            <md-content layout="column" layout-fill  class="md-padding">
                <form name="userForm">
                    <md-input-container flex>
                      <label>Tipo de sangre</label>
                      <input ng-model="name.tipoSangre" ng-model="checked" ng-disabled="checked">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Curso</label>
                      <input ng-model="name.curso" ng-model="checked" ng-disabled="checked">
                    </md-input-container>
                </form>
            </md-content>
        </md-sidenav>
    </div>
<!--  <pre>{{estudiantes | json}}</pre> -->
</div>