<div layout="column" layout-margin layout-fill ng-controller="estudianteAsistenciaListCtrl">
        <md-list style="margin-bottom:34px;" >
            <md-card >
            
                <div layout="row" layout-sm="column" layout-padding>
                    <md-input-container flex-sm="100" flex-gt-sm="50">
                        <label>Buscar estudiante</label>
                        <input type="text" ng-model="search">
                    </md-input-container>
                    
                    <md-input-container flex-sm="100" flex-gt-sm="50">
                        <md-select placeholder="Pick" ng-model="someVal">
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div style="overflow-x: auto;" id="stuff" class="dragging">
                    <md-list-item layout="row" layout="fill">
                        <div flex-sm="15" flex-md="15" flex-gt-md="5"></div>
                        <div flex-sm="60" flex-md="45" flex-gt-md="25"></div>
                        <div flex-sm="100" flex-md="100" flex-gt-md="70">
                            <div layout="row" layout-fill>
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">1</small> 
                                </div>                      
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">2</small> 
                                </div>                      
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">3</small> 
                                </div>                      
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">4</small> 
                                </div>                      
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">5</small> 
                                </div>
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">6</small> 
                                </div>
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">7</small> 
                                </div>
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">8</small> 
                                </div>
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">9</small> 
                                </div>
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">10</small>    
                                </div>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>         
                    
                    <md-list-item layout="row"  ng-repeat="estudiante in estudiantes| filter:search | orderBy:'nombre'">
                        <div flex-sm="15" flex-md="15" flex-gt-md="5">
                            <img ng-src="/images/yeoman.png" class="md-avatar" alt="{{estudiante.nombre}}" style="width:35px" />
                        </div>
                        <div flex-sm="60" flex-md="45" flex-gt-md="25" style="padding-left:15px"><span class="text-capitalize">{{estudiante.nombre}} {{estudiante.apellido}}</span></div>
                        <div flex-sm="100" flex-md="100" flex-gt-md="70">
                            <div layout="row" layout-fill>
                                <div flex layout="row" layout-fill layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color" style="background-color:rgba(92, 184, 92, 0.5);" ></div>  
                                </div>                      
                                <div flex layout="row" layout-fill layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color" style="background-color:rgba(92, 184, 92, 0.5);" ></div>  
                                </div>                      
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color" style="background-color:rgba(92, 184, 92, 0.5);" ></div>  
                                </div>                      
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color" style="background-color:rgba(92, 184, 92, 0.5);" ></div>  
                                </div>                      
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color btn-danger"></div> 
                                </div>
                            
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color" style="background-color:rgba(92, 184, 92, 0.5);" ></div>  
                                </div>
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color" style="background-color:rgba(92, 184, 92, 0.5);" ></div>  
                                </div>
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color" style="background-color:rgba(92, 184, 92, 0.5);" ></div>  
                                </div>
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color btn-danger"></div> 
                                </div>                      
                                <div flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color" style="background-color:rgba(92, 184, 92, 0.5);" ></div>  
                                </div>                                                                                                          
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </div>
            </md-card>
        </md-list>
</div>