<div layout="column" layout-margin layout-fill ng-controller="estudianteAsistenciaListCtrl">
        
            <md-card ng-show="estudiantes.length">

                <div layout="row" layout-sm="column" layout-padding>
                    <md-input-container flex-sm="100" flex-gt-sm="50">
                        <label><i class="fa fa-search fa-lg"></i> Buscar estudiante</label>
                        <input type="text" ng-model="search">
                    </md-input-container>

                    <md-input-container flex-sm="100" flex-gt-sm="50">
                        <md-select placeholder="Fecha" ng-model="mesSeleccionado" ng-change="getFechaasistecia(mesSeleccionado)">
                            <md-option ng-repeat="mes in meses" class="text-capitalize" value="{{mes[1]}}">{{mes[0]}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div style="overflow-x: scroll;" id="stuff" class="dragging">
                    <md-list>
                    <md-list-item layout="row" layout="fill">
                        <div flex-sm="15" flex-md="15" flex-gt-md="5"></div>
                        <div flex-sm="60" flex-md="45" flex-gt-md="25"></div>
                        <div flex-sm="100" flex-md="100" flex-gt-md="70">
                            <div layout="row" layout-fill>
                                <div ng-repeat="fecha in fechas" flex layout="row" layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <small class="text-muted">{{fecha | date:'dd'}}</small>
                                </div>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>

                    <md-list-item layout="row"  ng-repeat="estudiante in estudiantes| filter:search | orderBy:'nombre'">
                        <div flex-sm="15" flex-md="15" flex-gt-md="5">
                            <img ng-src="/images/yeoman.png" class="md-avatar" alt="{{estudiante.nombre}}" style="width:35px" />
                        </div>
                        <div flex-sm="60" flex-md="45" flex-gt-md="25" style="padding-left:15px"><a href ng-click="showStudentProfile($event, estudiante.id_estudiante)" class="text-capitalize">{{estudiante.nombre}} {{estudiante.apellido}}</a href ></div>
                        <div flex-sm="100" flex-md="100" flex-gt-md="70">
                            <div layout="row" layout-fill>
                                
                                <div ng-repeat="asistencia in asistencias[estudiante.id_estudiante]" flex layout="row" layout-fill layout-align="center center" style="border-left:solid 1px #ddd;">
                                    <div class="asistencia-color {{asistencia.Asistencia}}-color"></div>
                                </div>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                    </md-list>
                </div>
            </md-card>

            <md-card ng-hide="estudiantes.length">
                <md-card-content>
                    <h3 class="md-title">Esta clase aún no tiene estudiantes.</h3>
                <md-card-content>
            </md-card>
        
</div>
