<div layout="column" layout-padding ng-controller="EstudiantesCtrl" layout-fill>
    <md-card layout="row" layout-sm="column" layout-padding>
        <md-input-container flex>
            <label><i class="fa fa-search fa-lg"></i> buscar estudiantes</label>
            <input ng-model="search">
        </md-input-container>
        <md-switch flex ng-model="asist" ng-click="asisToast()" aria-label="Asistencia" ng-true-value="false" ng-false-value="true">
            <div>Activar asistencia</div>
        </md-switch>
    </md-card>
   <!-- lista de estudiantes-->
    <md-card ng-hide="estudiantes.length">
       <md-card-content ng-hide="estudiantes.length || 0">
           <h3 class="md-title">Esta clase aún no tiene estudiantes.</h3>
       <md-card-content>
    </md-card>

    <md-card layout="row" ng-show="estudiantes.length" style="margin-bottom: 75px">
        <md-list flex="100">
            <md-list-item class="md-2-line" ng-repeat="estudiante in estudiantes| filter:search | orderBy:'nombre'">
                <img ng-src="/images/yeoman.png" class="md-avatar" alt="{{estudiante.nombre}}" />
                <div  class="md-list-item-text">
                    <h3><a ng-click="showStudentProfile($event, estudiante.id_estudiante)" class="text-capitalize">{{estudiante.nombre}} {{estudiante.apellido}}</a></h3>
                    <small>{{estudiante.tipo_identificacion}} : {{estudiante.id_estudiante}}</small>
                </div>
                <!-- Grupo de botones para gestionar la toma de asistencias -->
                <div  class="btn-group md-secondary listbtn" >
                    <label ng-disabled="asist" class="btn btn-default btn-green btn-sm" ng-class="{active: estudiante.asistencia == 'si'}">
                        <input class="radio"  type="radio" ng-model="estudiante.asistencia"  value="si" >
                        <i class="fa fa-check fa-lg"></i>
                    </label>

                    <label ng-disabled="asist" class="btn btn-default btn-red btn-sm" ng-class="{active: estudiante.asistencia == 'no'}">
                        <input class="radio" type="radio" ng-model="estudiante.asistencia" value="no" >
                        <i class="fa fa-times fa-lg"></i>
                    </label>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>

        <!-- Boton para envío de asistencia al servidor  -->

        <md-button ng-show="!asist" flex class="pluss md-fab md-primary" md-theme="" aria-label="Profile" ng-click="save($event)">
            <md-tooltip hide-sm>Enviar asistencia</md-tooltip>
            <i class="fa fa-paper-plane fa-lg"></i>
        </md-button>
    </md-card>
<!--  <pre>{{estudiantes | json}}</pre> -->
</div>
